* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
}

ul {
  list-style: none;
}

/* Navbar */
.navbar {
  background-color: #043873;
  padding: 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  font-family: "DMSans", sans-serif;
  color: #fff;
  padding: 10px 20px;
  display: block;
  transition: 0.5s;
  text-decoration: none;
}

.navbar ul li:nth-child(5) a i,
.navbar ul li:last-child a i {
  margin-left: 10px;
}

.navbar ul li:first-child a:hover,
.navbar ul li:nth-child(2) a:hover,
.navbar ul li:nth-child(3) a:hover,
.navbar ul li:nth-child(4) a:hover {
  color: black;
}

/* Buttons */
.btnLogin {
  display: inline-block;
  padding: 10px 20px;
  background: #ffe492;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  color: #043873;
  margin-right: 15px;
}

.btnLogin:hover {
  color: #043873;
}

.btnTry {
  display: inline-block;
  padding: 10px 20px;
  background: #4f9cf9;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
}

.btnTry:hover {
  color: #043873;
}
