* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", serif;
  font-size: 16px;
  line-height: 1.3;
  background: #fff;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

/* flex */
.align-items-center {
  align-items: center;
}

.dflex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

/* Navbar */
.navbar {
  background-color: #043873;
  padding: 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  font-family: "DMSans", sans-serif;
  color: #fff;
  padding: 10px 20px;
  display: block;
  transition: 0.5s;
  text-decoration: none;
}

.navbar ul li:nth-child(5) a i,
.navbar ul li:last-child a i {
  margin-left: 10px;
}

.navbar ul li:first-child a:hover,
.navbar ul li:nth-child(2) a:hover,
.navbar ul li:nth-child(3) a:hover,
.navbar ul li:nth-child(4) a:hover {
  color: black;
}

/* Hero */
.hero {
  margin-bottom: 50px;
  background-color: #043873;
  padding: 140px 220px;
  height: 900px;
  position: relative;
  z-index: -2;
}

.hero .hero-content {
  display: flex;
}

.hero .hero-image {
  width: 824px;
}

.hero .hero-bgImg {
  position: absolute; /* Positioning the image absolutely within the container */
  width: 2555.79px; /* Adjust size to fit above or beside the heading */
  z-index: -1; /* Ensures it's not behind other elements */
  left: 0%;
  bottom: 13%;
}

.hero .ma .hero .container {
  background-size: 1000 1000;
  height: 760px;
  padding-top: 15px;
  justify-content: space-between;
  flex-direction: column;
}

.hero .hero-text {
  color: #fff;
  align-self: center;
}

.hero .hero-text p {
  margin-top: 50px;
  line-height: 30px;
  width: 100%;
}

.hero .hero-content a {
  margin-top: 70px;
  text-decoration: none;
  color: #fff;
}

.hero .hero-content a i {
  margin-left: 20px;
}

.hero .hero-content a:hover {
  background: #fff;
  color: #043873;
}

/* Features */
.main-features {
  height: 1500px;
  padding-top: 20px;
  margin-top: 70px;
  position: relative;
}

.main-features .image1 {
  position: relative;
  width: 748px;
  margin-bottom: 50px;
}

.main-features .styleImg {
  width: 480px;
  position: absolute;
  top: 15.2%;
  z-index: -1;
}

.main-features .styleImg-WorkTogether {
  width: 280px;
  position: absolute;
  bottom: 26.3%;
  right: 23%;
  z-index: -1;
}

.main-features .bgImg {
  position: absolute; /* Positioning the image absolutely within the container */
  top: 10.6%; /* Adjusts the vertical position */
  left: 0%; /* Moves it closer to the heading */
  width: 450px; /* Adjust size to fit above or beside the heading */
  z-index: -1; /* Ensures it's not behind other elements */
}

.main-features .container {
  min-height: 100%;
  width: 1480px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.main-features .feature1 {
  height: 500px;
  line-height: 1;
  display: flex;
  align-items: end;
  gap: 60px;
}

.main-features .main-features-heading1 {
  width: 100%;
}

.main-features .feature1 h2 {
  width: 30% !important;
  position: relative;
  font-weight: 700;
  font-size: 72px;
}

.main-features .feature2 .text {
  align-self: center;
  margin-left: 120px;
}

.main-features .feature1 p {
  margin-top: 40px;
  margin-bottom: 30px;
  line-height: 1.7;
  width: 110%;
  word-wrap: break-word;
  white-space: normal;
}

.main-features .feature2 {
  height: 700px;
  line-height: 1;
  display: flex;
}

.main-features .main-features-heading {
  width: 100%;
  padding-bottom: 10px;
}

.main-features .feature2 p {
  width: 110%;
  line-height: 1.5;
}

.main-features a {
  text-decoration: none;
  color: #fff;
}

.main-features a i {
  margin-left: 10px;
}

/* Extension */
.extensions {
  height: 760px;
  background: #043873;
  position: relative;
}

.extensions .extension-text {
  color: #fff;
  align-self: center;
}

.extensions .extension-text p {
  width: 80%;
}

.extensions .extensions-textbg {
  width: 500px;
  position: absolute;
  bottom: 26.3%;
  right: 23%;
  z-index: -1;
}

.extensions .extension-text a i {
  margin-left: 10px;
}

/* Buttons */
.btnLogin {
  display: inline-block;
  padding: 16px 40px;
  background: #ffe492;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  color: #043873 !important;
  margin-right: 15px;
}

.btnLogin:hover {
  color: #fff !important;
  background: #4f9cf9;
}

.btnTry {
  display: inline-block;
  padding: 16px 24px;
  background: #4f9cf9;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  font-size: 18px;
}

.btnTry:hover {
  background: #ffe492;
  color: #043873;
}

.hero .hero-button-try {
  display: inline-block;
  padding: 16px 24px;
  background: #4f9cf9;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  font-size: 18px;
}

.hero .hero-button-try:hover {
  color: #fff;
  background: #043873;
}

.main-features .btn {
  display: inline-block;
  padding: 20px 40px;
  background: #4f9cf9;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  font-size: 18px;
  margin-top: 40px;
}

.main-features .btn:hover {
  background: #043873;
}

.extensions .extensions-btn {
  padding: 20px 40px;
  background: #4f9cf9;
  display: inline-block;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  font-size: 18px;
  margin-top: 40px;
  text-decoration: none;
  color: #fff;
}

.extensions .extensions-btn:hover {
  color: #043873;
  background: white;
}

/* Utility Classes */
.container {
  margin: 0 auto;
  padding: 0 15px;
}

/* Text Utility */
.text-xxl {
  font-size: 4rem;
}

.text-xl {
  font-size: 2.2rem;
}

.text-l {
  font-size: 1.8rem;
}

.text-md {
  font-size: 1.2rem;
}

.text-sm {
  font-size: 0.9;
}
