* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Navbar */
.navbar {
  background-color: #043873;
  padding: 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  font-family: "DMSans", sans-serif;
  color: #fff;
  padding: 10px 20px;
  display: block;
  transition: 0.5s;
  text-decoration: none;
}

.navbar ul li:nth-child(5) a i,
.navbar ul li:last-child a i {
  margin-left: 10px;
}

.navbar ul li:first-child a:hover,
.navbar ul li:nth-child(2) a:hover,
.navbar ul li:nth-child(3) a:hover,
.navbar ul li:nth-child(4) a:hover {
  color: black;
}

/* Buttons */
.btnLogin {
  display: inline-block;
  padding: 10px 20px;
  background: #ffe492;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
  color: #043873 !important;
}

.btnLogin:hover {
  color: #fff !important;
  background: #4f9cf9;
}

.btnTry {
  display: inline-block;
  padding: 10px 20px;
  background: #4f9cf9;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
}

.hero .btnTry {
  margin-top: 70px;
}

.btnTry:hover {
  color: #043873;
  background: #ffe492;
}

/* Hero */

.hero {
  background: #043873;
  background-image: url("images/mainElement.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  z-index: -1;
  font-family: "Inter", serif;
}

.hero .container {
  background: url("images/Image-container.png") no-repeat;
  background-size: contain;
  background-position: bottom right;
  display: flex;
  justify-content: space-between;
  margin-right: 215px;
  height: 600px;
  z-index: 0;
  color: #fff;
}

.hero .hero-content .hero-heading {
  width: 60%;
  font-weight: 600;
}

.hero .hero-button a {
  text-decoration: none;
  color: #fff;
}
/* Utilities Classes*/
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Text Utilities */

.text-xxl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 40px 0 20px;
}

.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: 600;
  margin: 40px 0 20px;
}

.text-lg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 30px 0 20px;
}

.text-md {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normla;
  margin: 20px 0 10px;
}

.text-sm {
  font-size: 0.9;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 5px;
}

.text-center {
  text-align: center;
}
